<%- include("partials/header", { title: "Connexion" }) %>
<%- include("partials/navbar", { user: null }) %>

<div class="container mt-5">
   

    <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form action="/auth/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email :</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>

<%- include("partials/footer") %>
